pre code {
	border: none;
}

input,
button {
	margin: .5em 0;
	padding: .3em;
	display: block;
	width: 100%;
	font-size: 92%;
	line-height: 1.3;
	box-sizing: border-box;
}
input {
	border: 1px solid #ccc;
}
input:focus {
	outline: none;
	border-color: #777;
}
button, input[type="submit"] {
	color: white;
	cursor: pointer;
	background-color: #666;
	border: none;
}
button:hover, button:focus,
input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: #777;
	outline: none;
}
button:active, input[type="submit"]:active {
	background-color: #555;
}
